---
title: SwappLab
---

<header id="menu align-right" class="header">
  <span class="header-logo">
    <%= image_tag 'logo.jpg', :class => 'logo' %>
  </span>
  <span class="align-right">
    <a href="mailto:swapplabteam@gmail.com" class="hire-link">Contactez-nous</a>
  </span>
</header>
<section id="hero" class="hero">
  <h1 class="typer-title">
    <span class="typer-title__line">
      <span class="line">Hello, nous sommes <span class="company">SwappLab</span></span>
      <span class="line"></span>
    </span>
  </h1>
  <h2>
    <span class="line">c'est là où on fourre tous nos sideprojects !</span>
  </h2>
</section>
